@import url(https://fonts.googleapis.com/css?family=Merriweather|Quicksand|Libre+Baskerville); 

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

label {
	display: none;
}

nav {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

label {
	background: black;
	width: 100%;
	text-align: center;
	letter-spacing: .1em;
	font-family: 'Quicksand', sans-serif;
	color: white;
	padding: 20px 35px;
}

li {
    float: left;
    text-align: center;
    letter-spacing: .1em;
    font-family: 'Quicksand', sans-serif;
    /*font-size: 16px;*/
}

li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px 35px;
}

ul {
	list-style: none;
	width: 705px;
	margin: auto;
}

li a:hover {
    background-color: gray;
}

a {
	color: black;
}

body {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: #000000;
	background-color: white;
	font-size: 16px;
}

h1 {
	color: #000000;
	font-family: 'Quicksand', sans-serif;
	font-size: 5.2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin: 0em 0em;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	padding: 1.2em;
}

hr {
	border: none;
	height: .2em;
	background-color: black;
	width: 59.5em;
	margin: 2.5em auto 3em;
}

section {
	color: black;
	line-height: 1.5em;
	margin: auto;
	padding: 0em 1em 0em 1em;
}

section p {
	text-align: justify;
}

footer {
	color: #000000;
	text-align: center;
	padding: .8em;
	font-family: 'Quicksand', sans-serif;
}

h2 a {
	text-decoration: none;
}

p + p {
	padding-top: .5em;
}

p + .resumeh2 {
	margin-top: 1.5em;
}

.img-circle {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.twocolumn {
	width: 80%;
	margin: auto;
}

.column {
	float: left;
	width: 50%;
	line-height: 1.4em;
	padding: 0 5%;
	margin: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.imgcontainer {
	max-width: 100%;
}

.resumeh2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	padding: 1em;
}

.resumeh3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
	padding: 1em 0;
	margin-top: 1.6em;
	text-align: left;
}

.resumeh3 + p {
	font-style: italic;
}

.resumeh2 + .resumeh3 {
	margin-top: 0;
}

.description {
	font-style: normal;
}

#toggle {
	display: none;
}

#lander {
	background: url("../images/moondance2.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 31em;
	padding-top: 8em;
	padding-bottom: 8em;
}

#lander p {
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	text-align: center;
	line-height: 1.8em;
	margin: auto;
	font-size: 1.2em;
	padding: 0em 2em 4em 2em;
	color: black;
	width: 65%;
}

#bodyintro {
	width: 30em;
	margin: auto;
	line-height: 1.4em;
	padding-top: 2em;
}

#header2 {
	padding-top: 1.5em;
}

#emailcol {
	padding-top: 2.8em;
	float: left;
	width: 50%;
}

#linkedincol {
	padding-top: 2.8em;
	float: left;
	width: 50%;
}

#resumecontainer {
	color: black;
	line-height: 1.6em;
	margin: auto;
	padding: 0em 0em 0em 1em;
	width: 60%;
	margin: auto;
}

#resumecontainer p {
	text-align: left;
	line-height: 1.8em;
}

#resumehr {
	border: none;
	height: .2em;
	background-color: black;
	width: 24em;
	margin: 2.2em auto 3em;
}

#connecthr {
	border: none;
	height: .2em;
	background-color: black;
	width: 29.5em;
	margin: 2.2em auto 1em;
}

@media screen and (max-width: 952px) {
	hr {
		width: 100%;
	}

	#resumehr {
		width: 100%
	}

	#connecthr {
		width: 100%
	}
}

@media screen and (max-width: 705px) {
	li { 
		float: none;
	}

	label {
		display: block;
	}

	nav {
		display: none; 
		position: static;
	}

	nav li:nth-of-type(2) {
		display: none;
	}

	ul {
		width: 100%;
	}

	h1 {
		font-size: 4em;
		margin: 0em;
	}

	h2 + p {
		width: 100%;
		margin: auto;
	}

	hr {
		margin-bottom: 1.5em;
	}

	.connectimg {
		height: auto;
		width: 50%;
	}

	.gmailimg {
		height: auto;
		width: 50%;
	}

	.column {
		float: none;
		width: 100%;
		line-height: 1.4em;
		padding: 0 0 1.5em;
	}

	.resumeh2 {
		line-height: 1.1em;
	}

	.resumeh2 + p {
		width: 100%;
		margin: auto;
	}

	/*The text at the bottom isn't the same, doesn't line up, not sure how to fix? The images are cropped the same size!*/

	#slogan {
		font-size: .85em;
	}

	#toggle:checked + nav{display: block;}

	#bodyintro{
		width: 80%;
	}

	#resumecontainer {
		width: 80%;
	}

}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 2.5em;
		line-height: 1.2em;
	}

	h2 {
		line-height: 1.2em;
		font-size: 1.5em;
	}

	.resumeh3 {
		font-size: 1.1em;
	}

	#slogan {
		font-size: .8em;
	}

	#resumecontainer {
		font-size: .9em;
	}

}

@media screen and (max-width: 400px) {
	#contactinfo {
		font-size: .8em;
	}
}





