*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather|Quicksand|Libre+Baskerville); 

nav {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

li {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    letter-spacing: .1em;
    margin: 0;
    padding: 20px 35px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
	line-height: 1.2em;
}

ul {
	list-style: none;
	width: 705px;
	margin-left: 21%;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #gray;
}

.img-circle {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

body {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: #000000;
	background-color: white;
}

header {
	color: #000000;
	font-family: 'Quicksand', sans-serif;
	font-size: 5.2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin: 0em 0em;
}

/* Make Rachel Rowlands like the 1Q84 heading!! Really big and then the slogan below lines up with it*/

hr {
	border: none;
	height: .2em;
	background-color: black;
	width: 59.5em;
	margin: 2.5em auto 3em;
}

section {
	font-size: 16px;
	color: black;
	line-height: 1.2em;
	margin-left: 6em;
	margin-right: 6em; 
	text-align: justify;
	padding: 0em 1em 0em 1em;
}

footer {
	color: #000000;
	text-align: center;
	padding: .5em;
	font-family: 'Quicksand', sans-serif;
}

#lander {
	background: url("../images/moondance2.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 31em;
	padding-top: 8em;
	padding-bottom: 8em;
}

.sectionheading {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	padding: 1em;
}

#column1, #column2 {
	padding: 1em 1em;
	width: 30em;
	margin: auto;
}

#bodyintro {
	width: 30em;
	margin: auto;
}

#slogan {
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 1.2em;
	padding: 0em 2em 4em 2em;
	color: black;
}