.img-circle {
	border-radius: 50%;
}

body {
	background: url("http://ngampleng.com/6135/forest-picture-wallpaper-hd/forest-picture-wallpaper-hd-detail/");
	background-size: cover;
	font-family: Arial, sans-serif;
	text-align: center;
}

#slogan {
	font-style: italic;
}

/*body {
	background-size: cover;
}