.img-circle {
	border-radius: 50%;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-image: url(http://i.imgur.com/j63dFtq.jpg);
	background: cover;
	color: #333333;
}

#slogan {
	font-style: italic;
}